<div class="col-sm-12 padding heading">
    <div class="row">
        <div class="col-sm-9">
            <h1>Account Statement</h1>
        </div>
        <div class="col-sm-3 file-icons">
           
            <button type="button" class="btn btn-primary btn-sm" ng-click="GetLeger();">Submit</button>
        </div>
    </div>
</div>
<div class="col-sm-12"></div>    
   
       
    <div class="col-sm-12 col-md-12 padding">
        <div class="col-lg-12 col-md-12 col-sm-12 ">
               <!--  {{BetHistory}} -->
            
            <div class="lst_master">
                <div class="resp_table clearfix ">
                       <table class="table table-bordered my-market"> 
                        <tr> 
                                <th>SNO</th>
                                <th>Sdate </th>
                                <th> mstrUserId</th>
                                <th>Chips </th>
                                <th>Narration </th>
                                <th> Credit</th>
                                <th> Debit</th>
                                <th>Balance</th>
                        </tr>
                        <tr ng-repeat="data in BetHistory"> 
                                <td >{{$index+1}} </td>
                                <td >{{data.Sdate}} </td>
                                <td> {{data.mstrUserId}}</td>
                                <td ng-class="[{true: 'GREEN'}[data.Chips >=0], {true: 'RED'}[data.Chips < 0]]">{{data.Chips}} </td>
                                <td class="text-left">{{data.Narration}} </td>
                                <td style="color:green!important;"> {{data.Credit}}</td>
                                <td style="color:red!important;"> {{data.Debit}}</td>
                                <td> {{GetBalance($index,data.Chips)}}<input type="text" id="{{$index}}" name="indexVal" readonly style="border:none;color:green;font: bold;"></td>
                        </tr>
                  </table>
                        
                        <div class="total-box clearfix">
                        <h1 class="total-green">Total P&L: <span>{{SumOfP_L | number:2}}</span></h1>
                        <h1 class="total-green">Total Profit: <span>{{SumOfProfit | number:2}}</span></h1>
                        <h1 class="total-red">Total Liability: <span>{{SumOfLiability | number:2}}</span></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
