<h1 class="page-heading">Online Users  <div class="file-icons" style="margin:0; float:right;">
        <a ng-click="onBtExport()"><img src="app/images/file2.png" style="margin-top:-5px;display:inline-block;" /></a>
    </div></h1>


      <div class="col-sm-12 col-md-12 master-cont">

      		<div class="col-lg-12 col-md-12 col-sm-12 " style="padding: 0px;">
	            <div class="lst_master_top clearfix">
	                <div class="form_row col-lg-12 col-md-12 col-sm-12 col-xs-12 clearfix top_table_form" style="padding: 0px;">                   
	                    <div class="form_box  col-lg-4 col-md-4 col-sm-4 col-xs-12" style="padding: 0px;">
	                        <div class="file-icons" style="margin:0;">
	                         <!-- <a href=""><img src="app/images/file1.png" /></a>
	                         <a href=""><img src="app/images/file2.png" /></a>
	                         <a href=""><img src="app/images/file3.png" /></a> -->
	                        </div>
	                    </div>
	                </div>                
	            </div>
        	</div>
  			
			<div class="col-lg-12 col-md-12 lst_master">
			  <div class="resp_table clearfix ">
			  	<div id="myGrid" class="ag-blue" style="height: 450px; margin-top: 4px;"></div>
			       
			  </div>

			</div>
      </div>
