<div>
	 <div class="table-responsive">
        <table class="table table-bordered table-striped dealerclient">  
             <thead>
                 <tr class="row-name">
                   <th>S No</th>
                   <th>Date <input type="text" ng-model="search.CDate" placeholder="dd-mm-yyyy"></th>
                   <th>User Name</th>
                   <th>Narration</th>
                    <th>Chips</th>
                   <th>Transaction Type</th>
                   <th>MstDate</th>
                   
             </thead>   
             <tbody>
                <tr class="row-content" ng-repeat="users in UserList| filter:search" >
                   <td>{{$index+1}} </td>
                   <td ><a >{{users.MstDate}}</a></td>
                   <td>{{users.mstruserid}}</td>
                   <td>{{users.Narration}}</td>                   
                    <td>{{users.Chips}}</td>
                    <td ng-if="users.CrDr === '1' " style="color: Green;">Credit</td>
                    <td ng-if="users.CrDr === '2' " style="color: RED;">Debit</td>
                    <td>{{users.CDate}}</td>
                   
                </tr>
                
                
             </tbody>
        </table>
    </div>
    <!-- {{UserList}} -->
</div>