      <md-dialog class="dial-width-500">
          <md-toolbar>
              <div class="md-toolbar-tools">
                  <h2>Change Password</h2>
                  <span flex></span>
                 
              </div>
              
          </md-toolbar>
          <md-dialog-content>
              <div class="md-dialog-content">
                <div class="clearfix">
                    <form name="changePasswordForm" method="post" novalidate="" >
                                   
                      <div class="popup-form-box col-lg-12 col-md-12 col-sm-12 col-xs-12 clearfix">
                        <div class="popup-inp-box col-lg-4 col-md-4 col-sm-4 col-xs-12">
                          <input type="password" class="popup-input" id="old_pass" name="oldPassword" ng-model="oldPassword" md-autofocus/>
                          <label>Old Password </label>
                        </div>

                        <div class="popup-inp-box  col-lg-4 col-md-4 col-sm-4 col-xs-12">
                          <input type="password" class="popup-input" name="newPassword" ng-model="newPassword" required="required"/>
                          <label >New Password</label>
                        </div>
                        <div class="popup-inp-box  col-lg-4 col-md-4 col-sm-4 col-xs-12">
                          <input type="password" class="popup-input" name="cnfnewPassword" ng-model="cnfnewPassword" required="required" ng-match="newPassword"/>
                          <label>Confirm Password</label>
                          
                        </div>
                      </div>
                      <div class="popup-form-box  col-lg-12 col-md-12 col-sm-12 col-xs-12 clearfix" style="text-align:center;">
                          <button type="button" ng-click="updatePassword(oldPassword,newPassword,cnfnewPassword)" class="btn btn-primary">Reset Password</button>
                      </div>
                    </form>
                </div>
              </div>
          </md-dialog-content>
      </md-dialog>
