
<md-dialog>
    
        <md-toolbar>
                    <div class="md-toolbar-tools"><h2>password</h2>
                        <span flex></span>
                        <md-button class="md-icon-button" ng-click="hide()">
                          <md-icon md-svg-src="app/images/close.svg" aria-label="Close dialog"></md-icon>
                        </md-button>

                    </div>
                </md-toolbar>
        <md-dialog-content>
          <div class="md-dialog-content">
            <div class="clearfix changePwdPage">
                
                  <div class="popup-form-box col-lg-12 col-md-12 col-sm-12 col-xs-12 clearfix">
                    <div class="popup-inp-box col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <input type="password" class="popup-input" name="betPassword" ng-model="betPassword" required="required" />
                      <label>Enter Password</label>
                    </div>
                  </div>
                  <div class="popup-form-box  col-lg-12 col-md-12 col-sm-12 col-xs-12 clearfix" style="text-align:center;">
                    <!-- <input type="button" name="check" value="check" class="btn btn-primary"/> -->
                    <button type="button" name="check" ng-click="checkPassword(betPassword)">submit</button>
                  </div>
                
            </div>
          </div>
        </md-dialog-content>
    
</md-dialog>